.activePage{
  font-size: 30px;
  width: 80%;
  height: 90px;
  border-radius: 18px;
  line-height: 90px;
  text-align: center;
  letter-spacing: 1px;
}
.power{
  color: #FFFFFF;
  background: #F39800;
  margin: 20 auto 40px;
}
.cancel{
  color: #3A3937;
  background: #FFFFFF;
  border: 1px solid #3A3937;
  margin: 30px auto;
}
.PowerImg{
  width: 170px;
  height: 170px;
  display: block;
  margin: 100px auto;
}